make/
trefftz/debricated/
trefftz/l2hofespace2.cpp
trefftz/l2hofespace2.hpp
hpw/
python_test/cone/
python_test/notebooks/.ipynb_checkpoints/
python_test/notebooks/results/
python_test/__pycache__
python_test/cartsolve/__pycache__/
python_test/ng.opt
python_test/results
python_test/notebooks/results/
TAGS
*.vol
