.gitignore
make/
trefftz/debricated/
trefftz/l2hofespace2.cpp
trefftz/l2hofespace2.hpp
hpw/
python_test/cone/
python_test/cartsolve/notebooks/.ipynb_checkpoints/
python_test/cartsolve/notebooks/results/
