setuptools>=70
setuptools_scm>=8
jupyter>=1.0.0

matplotlib>=3.9.0
matplotlib-inline>=0.1.6

sphinx>=7.3.7
pandoc>=2.3
nbconvert>=7.16.4
nbformat>=5.10.4
nbsphinx>=0.8.9
notebook>=7.2.0

Sphinx>=7.3.7
sphinx-rtd-theme>=2.0.0
sphinxemoji>=0.3.1
jupyter_sphinx>=0.5.3
myst_parser>=3.0.1

numpy>=2.0.0
scipy>=1.13.1
webgui-jupyter-widgets>=0.2.35
#ngstrefftz==0.3.2506
#ngsolve==6.2.2404.post22.dev0
xfem==2.1.2506
