name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: ['main**']
  release:
    types: [created]

env:
  BUILD_TYPE: Debug

jobs:

  maketest:
    runs-on: ubuntu-latest
    container:
      #image: quay.io/pypa/manylinux2014_x86_64:latest
      image: sameli/manylinux2014_x86_64_cuda_11
    steps:     
      - run: echo "PYDIR=/opt/python/cp310-cp310/bin" >> $GITHUB_ENV
      - name: install pkgs
        run: yum -y update && yum -y install git ninja-build fontconfig-devel tk-devel tcl-devel libXmu-devel mesa-libGLU-devel ccache python-devel lapack blas 
      - name: pip ngsolve
        run: |
             #${{ env.PYDIR }}/pip install -U pytest-check numpy wheel scikit-build mkl==2023.* mkl-devel==2023.* setuptools
             ${{ env.PYDIR }}/pip install ngsolve 
             echo "${{ env.PYDIR }}" >> $GITHUB_PATH
             echo "LD_LIBRARY_PATH=${{ env.LD_LIBRARY_PATH }}:/opt/_internal/cpython-3.10.9/lib/" >> $GITHUB_ENV
      - uses: actions/checkout@v3
        with:
          submodules: 'True'
          path: 'NGSTrefftz'
      - name: cmake NGSTrefftz
        run: cmake -DCMAKE_CXX_COMPILER=ngscxx -DNETGENDIR=${{ env.PYDIR }}/.. -DCMAKE_PREFIX_PATH=${{ env.PYDIR }}/..  -DPYTHON_EXECUTABLE=${{ env.PYDIR }}/python3 -DPYTHON_LIBRARY=${{ env.PYDIR }}/../lib -DPYTHON_INCLUDE_DIR=${{ env.PYDIR }}/../include -B $GITHUB_WORKSPACE/NGSTrefftz/make -S $GITHUB_WORKSPACE/NGSTrefftz/src/
      - name: compile NGSTrefftz
        run: make -C $GITHUB_WORKSPACE/NGSTrefftz/make
      - name: test NGSTrefftz
        run: env CTEST_OUTPUT_ON_FAILURE=1 make -C $GITHUB_WORKSPACE/NGSTrefftz/make test
      - name: install NGSTrefftz
        run: make -C $GITHUB_WORKSPACE/NGSTrefftz/make install  
      #- name: Debugging with tmate
        #if: ${{ failure() }}
        #uses: mxschmitt/action-tmate@v3

  pypi-linux:
    name: Build wheels for linux
    needs: [maketest]
    runs-on: ubuntu-latest
    container:
      #image: quay.io/pypa/manylinux2014_x86_64:latest
      image: sameli/manylinux2014_x86_64_cuda_11
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'True'
          path: 'NGSTrefftz'
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
      - name: build pip
        run: cd NGSTrefftz/.github/workflows && sh build_pip.sh 
      - name: Store the binary wheel
        uses: actions/upload-artifact@v2
        with:
          name: python-package-distributions
          path: NGSTrefftz/wheelhouse

  pypi-mac:
    name: Build wheels for macOS
    needs: [maketest]
    strategy:
      matrix:
        py: ['3.8', '3.9', '3.10', '3.11']
    runs-on: macos-11
    env:
      MACOSX_DEPLOYMENT_TARGET: '10.15'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          path: 'NGSTrefftz'
      - name: Get Python ${{ matrix.py }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py }}
      - name: Run build script
        run: cd NGSTrefftz/.github/workflows && bash build_pip_mac.sh ${{ matrix.py }}
      - name: Store the binary wheel
        uses: actions/upload-artifact@v2
        with:
          name: python-package-distributions
          path: NGSTrefftz/wheelhouse

  pypi-src:
    name: pypi src
    needs: [maketest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'True'
          fetch-depth: 0
          path: 'NGSTrefftz'
      - name: install pkgs
        run: |
             sudo apt-get update && DEBIAN_FRONTEND="noninteractive" sudo apt-get -y install vim python3 python3-pip python3-distutils python3-tk libpython3-dev libxmu-dev tk-dev tcl-dev cmake git g++ libglu1-mesa-dev libblas-dev liblapack-dev
      - name: Update pip and Install setuptools
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -U pytest-check numpy wheel scikit-build mkl==2023.* mkl-devel==2023.* setuptools
          python3 -m pip install ngsolve 
      - name: Package ngstrefftz sources for PyPI
        run: cd NGSTrefftz && python3 setup.py sdist -d wheelhouse
      #- name: pip install ngstrefftz
        #run: pip install dist/*
      - name: Store the sdist
        uses: actions/upload-artifact@v2
        with:
          name: python-package-distributions
          path: NGSTrefftz/wheelhouse

  publish-pypi:
    name: Publish to PyPI
    if: github.event_name == 'release' && github.event.action == 'created' 
    needs: [pypi-mac, pypi-linux, pypi-src]
    runs-on: ubuntu-latest
    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v2
      with:
        name: python-package-distributions
        path: NGSTrefftz/wheelhouse/
    - name: Publish binary distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: NGSTrefftz/wheelhouse/
        #repository-url: https://test.pypi.org/legacy/

  docker:
    needs: [publish-pypi]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'created'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: paulstdocker/ngstrefftz
          # generate Docker tags based on the following events/attributes
          tags: type=semver,pattern={{version}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: "Dockerfile"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          #labels: ${{ steps.meta.outputs.labels }}

  docs:
    needs: [publish-pypi]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
          submodules: 'True'
          path: 'NGSTrefftz'
      - name: install pkgs
        run: sudo apt-get update && DEBIAN_FRONTEND="noninteractive" sudo apt-get -y install libxmu-dev tk-dev tcl-dev git libglu1-mesa-dev libblas-dev liblapack-dev python3 python3-pip python3-distutils python3-tk libpython3-dev python3-testresources npm nodejs pandoc -y
      #- name: pip pkgs
        #run: python3 -m pip list
      - name: pip install requirements
        run: pip install --user -r $GITHUB_WORKSPACE/NGSTrefftz/docs/requirements.txt
      - name: set path
        run: |
             echo "NETGENDIR=/usr/bin/" >> $GITHUB_ENV
             echo "LD_LIBRARY_PATH=${{ env.LD_LIBRARY_PATH }}:/home/runner/.local/lib:/usr/local/lib/" >> $GITHUB_ENV
      - name: webgui
        run: |
             pip install jupyter_contrib_nbextensions 
             jupyter contrib nbextension install --user
             jupyter nbextension install --user --py widgetsnbextension
             jupyter nbextension enable --user --py widgetsnbextension
             jupyter nbextension install --user --py webgui_jupyter_widgets
             jupyter nbextension enable --user --py webgui_jupyter_widgets            
      - name: Build and Commit
        uses: sphinx-notes/pages@v2
        with:
          repository_path: 'NGSTrefftz'
          #requirements_path: ./docs/requirements.txt
      - name: Push changes
        uses: ad-m/github-push-action@master
        if: github.event_name == 'release' && github.event.action == 'created'
        with:
          directory: 'NGSTrefftz'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
      - run: tree -d .
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: gh-page
          path: 'NGSTrefftz/'
      - name: Debugging 
        if: ${{ failure() }}
        run: cat /tmp/sphinx*

  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: docs/paper/paper.md
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: joss_paper
          path: docs/paper/paper.pdf
